<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="loginNavbar">
    <ion-title text-center>WELCOME USER</ion-title>
   
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div style="text-align:center;margin-top: 30%">
      <img src="../assets/imgs/Xira_New_Logo.png" style="width:50vw; height:30hv;">

  </div>
  <ion-item>
     
    <ion-label floating >Email Id</ion-label>
    <ion-input  [(ngModel)]="data.userEmail" name="userEmail" [formControl]="userloginForm.controls['email'] " type="email" value=""></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input [(ngModel)]="data.password" name="password" [formControl]="userloginForm.controls['password'] "  value="" type="password"></ion-input>
  </ion-item>
  <!-- <ion-item>
    <ion-label floating>Company</ion-label>
    <ion-input [(ngModel)]="data.company" name="company" [formControl]="userloginForm.controls['company'] "  value="" type="company"></ion-input>
  </ion-item> -->

  <div *ngIf="isenabled" style="color:red">
      {{errorMess}}
  </div>
<div style="    text-align: right;">
    <button ion-button clear style="color:#FEA204" (click)="showPrompt()">
        Forgot Password?
    </button>
</div>
  <div style="margin-top:5%; text-align: center; "> 
      <button ion-button round style="background-color:#FEA204" (click)="login()">
          LogIn
      </button>
  </div>
  
</ion-content>




