page-project-wise-report {
    .adminmainNavbar{
        text-align: center; background-color: #ffffff
        }
        .back-button.show-back-button {
            z-index: 9999;
            display: inline-block;
        }

        ion-title {
            position: absolute;
            top: 0;
            left: 0;
            padding: -1px 86px 1px;
            width: 100%;
            height: 100%;
            text-align: center;
         }
         .toolbar-background {
            background-color: #FEA204;
            
          }
          .toolbar-title-md {
            padding: 0 12px;
            font-size: 2rem;
            font-weight: 800;
            color: #fff;
        }
          td, th {

            // padding: 0;
            padding: 10px !important;
        
        }
// More practical CSS...
// using mobile first method (IE8,7 requires respond.js polyfill https://github.com/scottjehl/Respond)

$breakpoint-alpha: 480px; // adjust to your needs

.rwd-table {
  margin: 1em 0;
  min-width: 300px; // adjust to your needs
  
  tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    display: none; // for accessibility, use a visually hidden method here instead! Thanks, reddit!   
  }
  
  td {
    display: block; 
    
    &:first-child {
      padding-top: .5em;
    }
    &:last-child {
      padding-bottom: .5em;
    }

    &:before {
      content: attr(data-th)": "; // who knew you could do this? The internet, that's who.
      font-weight: bold;

      // optional stuff to make it look nicer
      width: 6.5em; // magic number :( adjust according to your own content
      display: inline-block;
      // end options
      
      @media (min-width: $breakpoint-alpha) {
        display: none;
      }
    }
  }
  
  th, td {
    text-align: left;
    
    @media (min-width: $breakpoint-alpha) {
      display: table-cell;
      padding: .25em .5em;
      
      &:first-child {
        padding-left: 0;
      }
      
      &:last-child {
        padding-right: 0;
      }
    }

  }
  
  
}


// presentational styling

@import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700';
table {
  display: table;
  overflow-x: auto;
  white-space: nowrap;
  // background: grey;th
  color:#FEA204;
  border-radius: 10px
}
body {
  padding: 0 2em;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: #eee;
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
}
.centerme.table-responsive{
  overflow: auto;
}

.rwd-table {
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
  tr {
    border-color: lighten(#34495E, 10%);
  }
  th, td {
    margin: .5em 1em;
    @media (min-width: $breakpoint-alpha) { 
      padding: 1em !important; 
    }
  }
  th, td:before {
    color: #FEA204;
  }
}
.centerme {
    margin: 0 auto;
    // display: table;
    position: relative;
    //  top: 50%;
    // -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

//accordian
*, *:before, *:after {
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  
  body {
    height: 100%;
    background: #2C3E50;
    font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  }
  
  h1, blockquote {
    color: #fafafa;
    text-align: center;
  }
  
  code {
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace; 
    margin: 0 0.1em;
    background: #1B2938;
    padding: 0 0.5em 0.2em;
  }
  
  img {
    float: left;
    margin: 0 1em 0 0;
  }
  
  p {
    margin: 0 0 1.5em 0; 
  }
  
  .accordion {
    display:block;
    position: relative;
    width: auto;
    margin: 10px auto;
    height: auto;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
  }
  
  .accordion > ul {
    display: block;
    list-style: none;
    padding :0;
    margin: 0;
  }
  
  .accordion > ul > li {
    display: block;
    position: relative;
    margin-bottom: -1px;
    overflow: hidden;
    color: #486992;
    background: #fafafa;
    border: 1px solid #D1D1D1;
  }
  
  .accordion > ul > li:first-child {
    border-radius: 0.3em 0.3em 0 0;
  }
  
  .accordion > ul > li:last-child {
    border-radius: 0 0 0.3em 0.3em;
  }
  
  .acc-handle {
    display:block;
    position: relative;
    padding: 1.5em;
    color: #486992;
    background: #f1f1f1;
    text-decoration: none;
    z-index: 3;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.8);
    transition: all .25s ease;
  }
  
  .acc-handle:hover {
    color: #2F71C4;
    background: #fafafa;
  }
  
  .acc-handle:before, .acc-handle:after {
    content: '';
    position: absolute;
    transition: all .3s ease;
  }
  
  // .acc-handle:before {
  //   width: 1em;
  //   border-top: .15em solid;
  //   border-bottom: .15em solid;
  //   top: 50%;
  //   margin-top: -0.15em; 
  //   right: 1.45em;
  // }
  
  // .acc-handle:after {
  //   height: 1em;
  //   width: 0.3em;
  //   border-top: 0.5em solid;
  //   border-bottom: 0.5em solid;
  //   right: 1.8em;
  //   top: 50%;
  //   margin-top: -0.55em;
  // }
  
  .acc-panel {
    padding: 0em;
    position: relative;
    float: left;
    width: 100%;
    clear: both;
    margin-top: -100%;
    z-index: 1;
    transition: all 1.2s ease;
  }
  
  .acc-handle:focus {
    outline: none;
    background: #e7e7e7;
  }
  
  .acc-handle:focus:after{
    height: 0;
    border: 0;
    margin-top: 0;
    opacity: 0;
  }
  
  .acc-handle:focus + .acc-panel {
    margin-top: 0;
    border-top: 1px solid #d1d1d1;
    transition: all 0.6s ease-in-out;
  }
  
  .acc-panel * { 
    opacity: 0;
    transition: all 1s linear;
  }
  
  .acc-handle:focus + .acc-panel * {
    opacity: 1;
  }
}
