<!--
  Generated template for the ProjectWiseReportPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>PROJECT REPORT</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="pull to refresh" refreshingSpinner="circles"
        refreshingText="Refreshing...">
    
    
        </ion-refresher-content>
    </ion-refresher>
  <div class="accordion">
    

    <ion-item *ngFor="let item of projectList" >
        <h2 href="#" class="acc-handle" tabindex="0" (click)="getProjectReport(item)" style=" font-weight: 600;
        text-transform: capitalize;   border-left: 3px #486992 solid;">{{item.projectName}}       
           <!-- <button ion-button > -->

        </h2>
        <ion-icon name="add" item-right item-end icon-only class="button1" style="color:#34495E;font-weight: 600 !important" (click)="addMultipleUser(item)"></ion-icon>

        <!-- <h2 href="#" class="acc-handle" tabindex="0">{{item.projectName}}</h2> -->
       
    
    </ion-item>

  </div>

    <!-- <ion-item *ngFor="let item of projectList"  (click)="getProjectReport(item)" >
          <h2>{{item.projectName}}</h2>
          <p>Ugh. Assad  if.</p>
  
          <div *ngIf="item.checkclicked" class="centerme" style="text-align:center" center text-center>
              <table class="rwd-table">
                  <tr >
                    <th>ProjectName</th>
                    <th>Task</th>
                    <th>Task status</th>
                    <th>Time Taken</th>
                  </tr>
                  <tr *ngFor="let task of userTask">
                    <td data-th="ProjectName" >dsfdrg</td>
                    <td data-th="Task">dfderterf</td>
                    <td data-th="Task status">gertgervbhnh</td>
                    <td data-th="Time Taken">dfrtwrterferf</td>
                  </tr>
                </table>
          </div>
  </ion-item> -->
  
</ion-content>
