<!--
  Generated template for the CompletedTaskPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>TASK IN REVIEW</ion-title>
  </ion-navbar>
 
</ion-header>
<!-- <ion-header>
   
  <ion-navbar class="taskbar">
    <ion-toolbar>
      <ion-title  text-center>Completed Task</ion-title> 
      <ion-buttons>
       <button ion-button icon-only menuToggle>
        <ion-icon name='menu'></ion-icon>
      </button>
     </ion-buttons>
    </ion-toolbar>
    
  </ion-navbar>
</ion-header> -->


<ion-content >
  
     <!-- <ion-list inset>
        <button ion-item *ngFor="let task of taskList" (click)="itemSelected(item)">
          {{ task.TaskName }}
        </button> 
      </ion-list> 
      <h2>{{ task.TaskName }}</h2>  -->

      <ion-list>
            <ion-item *ngFor="let task of completedTask; let i = index" >
                <ion-card>
                    <ion-row>
                      <ion-col col-2 style="background-color:#ddd;text-align: center">
                          <ion-card-content style="font-weight: bolder;
                          font-size: x-large;
                          margin-top: 9px;
                          margin-bottom: 9px;">
                             #{{i+1}}
                              <!-- Add card content here! -->
                            </ion-card-content>
                      </ion-col>
                      <ion-col>
                          <ion-card-header (click)="detailsTask(task,i)">
                              <h2>{{ task.TaskName }}</h2> 
                          </ion-card-header>
                        
                          <ion-card-content>
                             
                            <!-- Add card content here! -->
                          </ion-card-content>
                      </ion-col>
                    </ion-row>
                   
                  
                  </ion-card>
              
            </ion-item>
        </ion-list>
</ion-content>
