page-task-different-choice {
    .customShadow{
        -webkit-box-shadow: 0 6px 6px 0 rgba(216, 22, 22, 0.2), 0 3px 9px 2px rgba(239, 226, 41, 0.2), 0 3px 9px 0 rgba(239, 226, 41, 0.6);
        box-shadow:0 6px 6px 0 rgba(218, 22, 22, 0.2), 0 3px 9px 2px rgba(216, 22, 22, 0.2), 0 3px 9px 0 rgba(216, 22, 22, 0.6)
    }

    .customShadow1{
        -webkit-box-shadow: 0 6px 6px 0 rgba(249, 123, 12, 0.2), 0 3px 9px 2px rgba(249, 123, 12, 0.2), 0 3px 9px 0 rgba(249, 123, 12, 0.6);
        box-shadow:0 6px 6px 0 rgba(249, 123, 12, 0.2), 0 3px 9px 2px rgba(249, 123, 12, 0.2), 0 3px 9px 0 rgba(249, 123, 12, 0.6)
    }
    .customShadow2{
        -webkit-box-shadow: 0 6px 6px 0 rgba(11, 181, 39, 0.2), 0 3px 9px 2px rgba(11, 181, 39, 0.2), 0 3px 9px 0 rgba(11, 181, 39, 0.6);
        box-shadow:0 6px 6px 0 rgba(11, 181, 39, 0.2), 0 3px 9px 2px rgba(11, 181, 39, 0.2), 0 3px 9px 0 rgba(11, 181, 39, 0.6)
    }
    .userRegistrationNavbar{
        text-align: center; background-color: #ffffff
        }
        .back-button.show-back-button {
            z-index: 9999;
            display: inline-block;
        }

        .toolbar-title-md {
            padding: 0 12px;
            font-size: 2rem;
            font-weight: 800;
            color: #fff;
        }
  
        ion-title {
            position: absolute;
            top: 0;
            left: 0;
            padding: 0 86px 1px;
            width: 100%;
            height: 100%;
            text-align: center;
         }
         .toolbar-background {
            background-color: #FEA204;
            
          }


          //css for action sheet
          .yellow-color{
            height: 40vh;
            left:37%;
            background-color: #FEA204;
        }
}
