<!--
  Generated template for the TaskDiffentChoicePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header style="background-color:#FEA204">

  <ion-navbar class="userRegistrationNavbar">
    <ion-buttons end (click)="presentActionSheet()">
        <button icon-only style="    background-color: transparent;">
          <ion-icon name="more"></ion-icon>
        </button>
        </ion-buttons>
  <ion-title text-center>User Choice</ion-title>
</ion-navbar>

</ion-header> -->

<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-buttons end (click)="presentActionSheet()">
          <button icon-only style="    background-color: transparent;">
            <ion-icon name="more"></ion-icon>
          </button>
          </ion-buttons>
    <ion-title>SELECT TASK</ion-title>
  </ion-navbar>
 
</ion-header>


<ion-content padding>
    <ion-item>
        <ion-label>start Job</ion-label>
        <ion-toggle [(ngModel)]="isToggled" (ionChange)="notify()"></ion-toggle>
    </ion-item>
<ion-card  class=" animated bounceInLeft" style=" background-color:#0084C1 ;margin-top: 45px;">

  <ion-card-content style="height: 100px;text-align: center;" (click)="goToAdminTask()">
    <h5 style="    margin-top: 31px;
    margin-bottom: 40px;color:#FFF">Admin Assign Task</h5>
  </ion-card-content>
</ion-card>
<ion-card  class=" animated bounceInRight " style="margin-top:20px">

    <ion-card-content style="background-color:#AA58AB;height: 100px;text-align: center;" (click)="goToPending()">
      <h5 style="    margin-top: 31px;
      margin-bottom: 40px;color:#FFF">Pending Task</h5>
    </ion-card-content>
  </ion-card>
  <ion-card class=" animated bounceInDown " style="background-color:#FFB040;margin-top:20px; " (click)="goToCompletedTask()">

      <ion-card-content style="height: 100px;text-align: center;">
        <h5 style="color:#FFF;margin-top: 31px;
        margin-bottom: 40px">Completed Task in review</h5>
      </ion-card-content>
    </ion-card>

    <ion-card class=" animated bounceInDown " style="background-color:#00C27F;margin-top:20px;" (click)="gotoDoneTask()">

      <ion-card-content style="height: 100px;text-align: center;">
        <h5 style="color:#FFF;margin-top: 31px;
        margin-bottom: 40px">Completed Task </h5>
      </ion-card-content>
    </ion-card>
</ion-content>

