<!--
  Generated template for the AddProjectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>ADD PROJECT</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-item>
        <ion-label floating >Projects Name</ion-label>
        <ion-input [(ngModel)]="project"> </ion-input> 
          <!-- <button ion-button icon-only ><ion-icon name="md-add" ></ion-icon></button> -->
        
      </ion-item>
      <ion-item>
        <ion-label floating>Project Categories</ion-label>
        <ion-select [(ngModel)]="projectDescription" (ionChange)="getProject($event)"  multiple="true"> 
          <ion-option *ngFor="let item of services" >{{item.Category}}</ion-option>
         </ion-select>
  
      </ion-item>
  
      <!-- <ion-item>
          <ion-label floating >Projects Categories</ion-label>
          <ion-input [(ngModel)]="projectDescription"> </ion-input>  -->
          <!-- <button ion-button clear color="dark" type="button" item-right (click)="addProject()" > <ion-icon name="md-add"> </ion-icon> </button>         -->
            <!-- <button ion-button icon-only ><ion-icon name="md-add" ></ion-icon></button> -->
          
      <!-- </ion-item> -->

      <div style="text-align:center">
          <button ion-button outline round style="border-color: #FEA204;color:#FEA204" type="button" item-right (click)="addProject()" > ADD PROJECT </button>        

      </div>

        <!-- <ion-item>
            <ion-label inset >add projects</ion-label>
            <ion-input [(ngModel)]="project"> </ion-input> 
            <button ion-button clear color="dark" type="button" item-right (click)="addProject()" > <ion-icon name="md-add"> </ion-icon> </button>        
            
          </ion-item> -->
</ion-content>
