<!--
  Generated template for the AdminRegistrationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>ADMIN REGISTRATION</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- //70db32a5-ef1f-420c-8f0d-7d3902622353 ??appid for onesignal -->
  <div style="text-align:center;margin-top: 30%">
    <img src="../assets/imgs/Xira_New_Logo.png" style="width:50vw; height:30hv;">

  </div>
  <ion-item>

    <ion-label floating>Email Id</ion-label>
    <ion-input [(ngModel)]="data.UserEmail" name="UserEmail" [formControl]="registrationFormUser.controls['email'] "
      type="email" value=""></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input [(ngModel)]="data.password" name="password" [formControl]="registrationFormUser.controls['password'] "
      value="" type="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>CompanyName</ion-label>
    <ion-input [(ngModel)]="data.company" type="text"></ion-input>
  </ion-item>
  <div style="margin-top:5%; text-align: center; ">
    <button ion-button round style="background-color:#FEA204" (click)="registerAdmin(data)">
      register user
    </button>
  </div>
</ion-content>
