<!--
  Generated template for the ServicesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>SERVICES</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="addService()"><ion-icon name="add"></ion-icon></button>
      </ion-buttons> 
  </ion-navbar>
 
</ion-header>
<ion-content padding>
  
  <div class="accordion">
    
      <ion-refresher (ionRefresh)="doRefresh($event)">
          <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="pull to refresh" refreshingSpinner="circles"
          refreshingText="Refreshing...">
      
      
          </ion-refresher-content>
      </ion-refresher>
    <ion-item *ngFor="let item of ServiceList" >
        <h2 href="#" class="acc-handle" tabindex="0" (click)="getSeviceDetail(item)" style=" font-weight: 600;
        text-transform: capitalize;   border-left: 3px #486992 solid;">{{item.Category}}       
           <!-- <button ion-button > -->
            
        </h2>
        <!-- <section class="acc-wrap">
    
          <input type="radio" name="accordion" id="acc01">
          <div class="acc-box">
            <label class="acc-trigger" for="acc01">POP-IN<i></i></label>
            <label class="acc-trigger close" for="acc-close"></label>
            <div class="acc-con">
              <p class="pop-in tac">
                真ん中から篠崎愛
              </p>
            </div>
          </div>
          </section> -->
        <h2 class="acc-panel" text-wrap style="background-color:#34495E;color:white;font-weight:600;padding-left: 20px">
          {{item.workToDo}}
        </h2>

        <!-- <h2 href="#" class="acc-handle" tabindex="0">{{item.projectName}}</h2> -->
       
    
    </ion-item>

  </div>
</ion-content>
