page-pending-task {
    .taskbar{
        text-align: center; background-color: #ffffff
    }

    .back-button.show-back-button {
        z-index: 9999;
        display: inline-block;
    }
    .customShadow{
        -webkit-box-shadow: 0 6px 6px 0 rgba(216, 215, 212, 0.2), 0 3px 9px 2px rgba(218, 216, 214, 0.2), 0 3px 9px 0 rgba(218, 217, 216, 0.6);
        box-shadow:0 6px 6px 0 rgba(218, 217, 216, 0.2), 0 3px 9px 2px rgba(218, 217, 217, 0.2), 0 3px 9px 0 rgba(214, 214, 214, 0.6)
    }
    .card-content-md {
        padding: 0px;
        font-size: 1.4rem;
        line-height: 1.5;
    }
    ion-title {
        position: absolute;
        top: 0;
        padding: 0 75px 1px;
        width: 100%;
        height: 100%;
        left:0;
        text-align: center;
     }
     .toolbar-background {
        background-color: #FEA204 !important;
     }
     ion-fab[top] {
        top: 1px;
    }
    .fabfilter{
        padding-left: 23%; 
        background: transparent !important;
    }
    .label-md {
         margin: 0 !important; 
    }
    .list-md .item-block .item-inner {
        padding-right: 0px;
        border-bottom: 0px solid #dedede;
    }
    .item-md {
         padding-left: 0px !important; 
        padding-right: 0;
        position: relative;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: none;
        color: #000;
        background-color: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 800;
        color: #fff;
    }

    .label-ios {
         margin: 0; 
    }
    .item-ios {
         padding-left: 0px; 
        //  padding-left: 16px; 
        border-radius: 0;
        position: relative;
        font-size: 1.7rem;
        color: #000;
        background-color: #fff;
        -webkit-transition: background-color 200ms linear;
        transition: background-color 200ms linear;
    }
    .list-ios .item-block .item-inner {
        border-bottom: 0px solid #c8c7cc;
        padding-right: 0px;
    }
}
