<!--
  Generated template for the PendingTaskPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!-- <ion-header>
   
  <ion-navbar class="taskbar">
    <ion-toolbar>
      <ion-title  text-center>Pending Task</ion-title> 
      <ion-buttons>
       <button ion-button icon-only menuToggle>
        <ion-icon name='menu'></ion-icon>
      </button>
     </ion-buttons>
    </ion-toolbar>
    
  </ion-navbar>
</ion-header> -->

	
<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>PENDING TASK</ion-title>
  </ion-navbar>
 
</ion-header>

<ion-content >
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="pull to refresh" refreshingSpinner="circles"
        refreshingText="Refreshing...">
    
    
        </ion-refresher-content>
    </ion-refresher>
     <!-- <ion-list inset>
        <button ion-item *ngFor="let task of taskList" (click)="itemSelected(item)">
          {{ task.TaskName }}
        </button> 
      </ion-list> 
      <h2>{{ task.TaskName }}</h2>  -->

      <ion-list>
          <ion-item-sliding *ngFor="let task of pendingTask; let i = index" >
            <ion-item (click)="goToTaskDetails">
                <ion-card>
                    <ion-row>
                      <ion-col col-2 style="background-color:#ddd;text-align: center">
                          <ion-card-content style="font-weight: bolder;
                          font-size: x-large;
                          margin-top: 9px;
                          margin-bottom: 9px;">
                             #{{i+1}}
                              <!-- Add card content here! -->
                            </ion-card-content>
                      </ion-col>
                      <ion-col>
                          <ion-card-header (click)="detailsTask(task,i)">
                              <h2>{{ task.TaskName }}</h2> 
                          </ion-card-header>
                        
                          <ion-card-content>
                             
                            <!-- Add card content here! -->
                          </ion-card-content>
                      </ion-col>
                    </ion-row>
                   
                  
                  </ion-card>
              
            </ion-item>
           
            <ion-item-options side="right">
              
              <!-- <button ion-button style="background-color:#50B4E6  " (click)="taskcomplete(task)">
                  <ion-icon name="checkmark" style="padding-left:6px;padding-right:6px"></ion-icon>
              
                </button> -->

              <button ion-button  color="secondary" (click)="transferTask(task)">
                  <ion-icon name="swap" style="padding-left:6px;padding-right:6px"></ion-icon>
                  
              </button>
                
    
            </ion-item-options>

            <ion-item-options side="left">
              <button ion-button style="background-color: red" (click)="startTask(task)">
                <!-- <ion-icon name="md-trash" style="padding-left:6px;padding-right:6px"></ion-icon> -->
               Start
              </button>
              <!-- <button ion-button style="background-color:#50B4E6  " (click)="taskPause(task)">
                 Pause
              
              </button> -->
            </ion-item-options>
          </ion-item-sliding>
          <!-- <ion-fab right bottom >
            <button (click)="addTask()" ion-fab mini><ion-icon name="add"></ion-icon></button>
            </ion-fab> -->
        </ion-list>
</ion-content>

