<!--
  Generated template for the UserRegistrationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
  Generated template for the UserRegistrationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header style="background-color:#FEA204">

  <ion-navbar class="userRegistrationNavbar">
    <ion-title text-center>USER REGISTRATION</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div style="text-align:center;margin-top: 30%">
    <img src="../assets/imgs/Xira_New_Logo.png" style="width:50vw; height:30hv;">

  </div>
  <ion-item>

    <ion-label floating>Email Id</ion-label>
    <ion-input [(ngModel)]="data.UserEmail" name="UserEmail" [formControl]="registrationFormUser.controls['email'] "
      type="email" value=""></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input [(ngModel)]="data.password" name="password" [formControl]="registrationFormUser.controls['password'] "
      value="" type="password"></ion-input>
  </ion-item>

  <!-- <ion-item>
    <ion-label floating>CompanyName</ion-label>
    <ion-input [(ngModel)]="data.company" type="text"></ion-input>
  </ion-item> -->
  <ion-item>
    <ion-label floating>Enter Phone Number</ion-label>
    <ion-input name="phone" pattern="^\d{10}$" type="tel" [(ngModel)]="data.phoneNo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>FirstName</ion-label>
    <ion-input [(ngModel)]="data.FirstName" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>LastName</ion-label>
    <ion-input [(ngModel)]="data.LastName" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Date of birth</ion-label>
    <ion-datetime displayFormat="DD MMMM YYYY" [(ngModel)]="data.dob">
    </ion-datetime>
  </ion-item>
  
  <ion-item>
      <ion-label floating>Qualification</ion-label>
      <ion-select [(ngModel)]="data.Qualification">
        <ion-option value="Graduate">Graduate</ion-option>
        <ion-option value="Post Graduate">Post Graduate</ion-option>
      </ion-select>
   <select [(ngModel)]="data.Qualification" place-holder="Qualification">
     <option selected>Graduate</option>
     <option>Post Graduate</option>
   </select>
  </ion-item>
  <ion-item>
    <ion-label floating>address</ion-label>
    <ion-textarea autosize [(ngModel)]="data.address"></ion-textarea> 
  </ion-item>
  <ion-item>
      <ion-label floating>Designation</ion-label>
      <ion-select [(ngModel)]="data.designation"> 
        <ion-option *ngFor="let item of desigArray">{{item.designation}}</ion-option>
       </ion-select>

    </ion-item>

  <div *ngIf="isenabled" style="color:red">
    {{errorMess}}
  </div>
  <div style="margin-top:5%; text-align: center; ">
    <button ion-button round style="background-color:#FEA204" (click)="registerUser(data)">
      register user
    </button>
  </div>
</ion-content>