page-home {
    .group {
        background: yellow;
        width: 200px;
        height: 800px;
    }
    .group .subgroup {
        background: orange;
        width: 150px;
        height: 400px;
    }
    .group .subsubgroup {
        background: blue;
        width: 100px;
        height: 150px;
      
     
    }
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 800;
        color: #fff;
    }
    .group .subsubgroup h4 {color:white}
    #sidebar.affix {
        top: 20px;
    }
    /* sidebar */
    .bs-docs-sidebar {
        padding-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    /* all links */
    .bs-docs-sidebar .nav>li>a {
        color: #999;
        border-left: 2px solid transparent;
        padding: 4px 20px;
        font-size: 13px;
        font-weight: 400;
    }
    
    /* nested links */
    .bs-docs-sidebar .nav .nav>li>a {
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 30px;
        font-size: 12px;
    }
    
    /* active & hover links */
    .bs-docs-sidebar .nav>.active>a, 
    .bs-docs-sidebar .nav>li>a:hover, 
    .bs-docs-sidebar .nav>li>a:focus {
        color: #563d7c;                 
        text-decoration: none;          
        background-color: transparent;  
        border-left-color: #563d7c; 
    }
    /* all active links */
    .bs-docs-sidebar .nav>.active>a, 
    .bs-docs-sidebar .nav>.active:hover>a,
    .bs-docs-sidebar .nav>.active:focus>a {
        font-weight: 700;
    }
    /* nested active links */
    .bs-docs-sidebar .nav .nav>.active>a, 
    .bs-docs-sidebar .nav .nav>.active:hover>a,
    .bs-docs-sidebar .nav .nav>.active:focus>a {
        font-weight: 500;
    }
    
    /* hide inactive nested list */
    .bs-docs-sidebar .nav ul.nav {
        display: none;           
    }
    /* show active nested list */
    .bs-docs-sidebar .nav>.active>ul.nav {
        display: block;           
    }
    
}
