<!--
  Generated template for the UserTimingDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

    <button ion-button menuToggle left>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title text-center>TIMING REPORT</ion-title>


  </ion-navbar>

</ion-header>


<ion-content padding>
  <div style="margin-bottom:10px">
    <ion-row>
      <ion-col *ngIf="!showTimingsToAdmin" style="text-align:center;background-color:white;color:#FEA204;font-weight: 700;font-weight: bold"
        (click)="showTimings()">

        TIMING

      </ion-col>
      <ion-col *ngIf="showTimingsToAdmin" style="border-bottom: #FEA204 2px solid; text-align:center;background-color:white;color:#FEA204;font-weight: 700;font-weight: bold"
        (click)="showTimings()">

        TIMING

      </ion-col>
      <ion-col *ngIf="!showTaskToAdmin" style="text-align:center;background-color:white;color:#FEA204;font-weight: 700;font-weight: bold"
        (click)="showTask()">
        TASK

      </ion-col>
      <ion-col *ngIf="showTaskToAdmin" style="border-bottom: #FEA204 2px solid; text-align:center;background-color:white;color:#FEA204;font-weight: 700;font-weight: bold"
        (click)="showTask()">

        TASK

      </ion-col>

      <ion-col *ngIf="!showProjectsToAdmin" style="text-align:center;background-color:white;color:#FEA204;font-weight: 700;font-weight: bold"
        (click)="showProjects()">
        PROJECTS

      </ion-col>
      <ion-col *ngIf="showProjectsToAdmin" style="border-bottom: #FEA204 2px solid; text-align:center;background-color:white;color:#FEA204;font-weight: 700;font-weight: bold"
        (click)="showProjects()">

        PROJECTS

      </ion-col>

    </ion-row>
  </div>
  <div *ngIf="showTimingsToAdmin">
  <div class=" centerme table-responsive">
      <table class="table tablerow" >
          <!-- <thead> -->
            <tr >
              <th  style="background-color:#34495E;
              color:white ;position: fixed;
      width: 121px;">Date</th>
              <td style="color:#34495E;" *ngFor="let time of times;let i = index">{{time.key}}</td>
            </tr>
            <tr>
              <th  style="background-color:#34495E;
              color:white; position: fixed;
      width: 121px;">StartTIme</th>
              <td style="color:#34495E;" *ngFor="let time of times">{{time.JobStartTime | date:'shortTime'}}</td>
            </tr>
            <tr >
              <th  style="background-color:#34495E;
              color:white ; position: fixed;
      width: 121px;">LunchStart</th>
              <td style="color:#34495E;" *ngFor="let time of times">{{time.LunchStartTime | date:'shortTime'}}</td>
  
            </tr>
            <tr >
              <th  style="background-color:#34495E;
              color:white; position: fixed;
      width: 121px;">LunchEnd</th>
              <td style="color:#34495E;" *ngFor="let time of times">{{time.LunchEndTime | date:'shortTime'}}</td>
  
            </tr>
            <tr >
              <th  style="background-color:#34495E;
              color:white; position: fixed;
      width: 121px;">ExtraBreakStart</th>
              <td style="color:#34495E;" *ngFor="let time of times">{{time.ExtraBreakStart | date:'shortTime'}}</td>
  
            </tr >
            <tr>
                <th  style="background-color:#34495E;
                color:white; position: fixed;
      width: 121px;">ExtraBreakEnd</th>
                <td style="color:#34495E;" *ngFor="let time of times">{{time.ExtraBreakEnd | date:'shortTime'}}</td>
  
            </tr>
            <tr>
                <th  style="background-color:#34495E;
                color:white; position: fixed;
      width: 121px;">EndTime</th>
                <td style="color:#34495E;" *ngFor="let time of times">{{time.JobEndTime | date:'shortTime'}}</td>
  
            </tr>
            <tr>
                <th  style="background-color:#34495E;
                color:white; position: fixed;
      width: 121px;">Total JobTime</th>
                <td style="color:#34495E;" *ngFor="let time of times">{{time.totaljob }}</td>
            </tr>
          <!-- </thead> -->
  
            <!-- <tr></tr>
            
              
              <th>ExtraBreakStart</th>
              <th>ExtraBreakEnd</th>
              <th>EndTime</th>
              <th>Total JobTime</th>
            </tr>
          </thead>
          <tbody style="color:#34495E">
  
            <tr *ngFor="let time of times">
              <td>{{time.key}}</td>
              <td>{{time.JobStartTime}}</td>
              <td>{{time.LunchStartTime}}</td>
              <td>{{time.LunchEndTime}}</td>
              <td>{{time.ExtraBreakStart}}</td>
              <td>{{time.ExtraBreakEnd}}</td>
              <td>{{time.JobEndTime}}</td>
              <td>{{time.totaljob}}</td>
            </tr> -->
  
  
          <!-- </tbody> -->
        </table>
    <!-- <table class="table">
      <thead style="background-color:#34495E;
          color:white">
        <tr>
          <th>Date</th>
          <th>StartTIme</th>
          <th>LunchStart</th>
          <th>LunchEnd</th>
          <th>ExtraBreakStart</th>
          <th>ExtraBreakEnd</th>
          <th>EndTime</th>
          <th>Total JobTime</th>
        </tr>
      </thead>
      <tbody style="color:#34495E">

        <tr *ngFor="let time of times">
          <td>{{time.key}}</td>
          <td>{{time.JobStartTime | date:'shortTime'}}</td>
          <td>{{time.LunchStartTime | date:'shortTime'}}</td>
          <td>{{time.LunchEndTime | date:'shortTime'}}</td>
          <td>{{time.ExtraBreakStart | date:'shortTime'}}</td>
          <td>{{time.ExtraBreakEnd | date:'shortTime'}}</td>
          <td>{{time.JobEndTime | date:'shortTime'}}</td>
          <td>{{time.totaljob}}</td>
        </tr>


      </tbody>
    </table> -->
  </div>
</div>

<div *ngIf="showTaskToAdmin">
    <div class=" centerme table-responsive">
        <table class="table tablerow">
            <!-- <thead style="background-color:#34495E;
            color:white"> -->
            <tr >
              <th  style="background-color:#34495E;
              color:white ;position: fixed;
      width: 121px;">#</th>
              <td style="color:#34495E;" *ngFor="let task of userTask; let i = index">{{i+1}}</td>
            </tr>
      
            <tr >
              <th  style="background-color:#34495E;
              color:white ;position: fixed;
      width: 121px;">Project</th>
              <td style="color:#34495E;" *ngFor="let task of userTask; let i = index">{{task.ProjectName}}</td>
            </tr>
      
            <tr >
              <th  style="background-color:#34495E;
              color:white ;position: fixed;
      width: 121px;">Priority</th>
              <td style="color:#34495E;" *ngFor="let task of userTask; let i = index">{{task.Priority}}</td>
            </tr>
      
            <tr >
              <th  style="background-color:#34495E;
              color:white ;position: fixed;
      width: 121px;">Category</th>
              <td style="color:#34495E;" *ngFor="let task of userTask; let i = index">{{task.TaskName}}</td>
            </tr>
      
            <tr >
              <th  style="background-color:#34495E;
              color:white ;position: fixed;
      width: 121px;">Task</th>
              <td style="color:#34495E;" *ngFor="let task of userTask; let i = index">{{task.TaskDescription}}</td>
            </tr>
      
            <tr >
              <th  style="background-color:#34495E;
              color:white ;position: fixed;
      width: 121px;">Assigned By</th>
              <td style="color:#34495E;" *ngFor="let task of userTask; let i = index">{{task.assignedBy}}</td>
            </tr>
      
            <tr >
              <th  style="background-color:#34495E;
              color:white ;position: fixed;
      width: 121px;">StartTime</th>
              <td style="color:#34495E;" *ngFor="let task of userTask; let i = index">{{task.startTime}}</td>
            </tr>
      
            <tr >
              <th  style="background-color:#34495E;
              color:white ;position: fixed;
      width: 121px;">EndTime</th>
              <td style="color:#34495E;" *ngFor="let task of userTask; let i = index">{{task.endTime}}</td>
            </tr>
      
            <tr >
              <th  style="background-color:#34495E;
              color:white ;position: fixed;
      width: 121px;">Task status</th>
              <td style="color:#34495E;" *ngFor="let task of userTask; let i = index">{{task.taskStatus}}</td>
            </tr>
            <tr >
              <th  style="background-color:#34495E;
              color:white ;position: fixed;
      width: 121px;">Time Taken</th>
              <td style="color:#34495E;" *ngFor="let task of userTask; let i = index">{{task.timeTaken}}</td>
            </tr>
      
      
              <!-- <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody style="color:#34495E">
      
              <tr *ngFor="let task of userTask; let i = index">
                <td>{{i+1}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
      
              </tr>
      
      
            </tbody> -->
          </table>
        <!-- <table class="table">
          <thead style="background-color:#34495E;
          color:white">
            <tr>
              <th>#</th>
              <th>Project</th>
              <th>Priority</th>
              <th>Category</th>
              <th>Task</th>
              <th>Assigned By</th>
              <th>StartTime</th>
              <th>EndTime</th>
              <th>Task status</th>
              <th>Time Taken</th>
            </tr>
          </thead>
          <tbody style="color:#34495E">
    
            <tr *ngFor="let task of userTask; let i = index">
              <td>{{i+1}}</td>
              <td>{{task.ProjectName}}</td>
              <td>{{task.Priority}}</td>
              <td>{{task.TaskName}}</td>
              <td>{{task.TaskDescription}}</td>
              <td>{{task.assignedBy}}</td>
              <td>{{task.startTime}}</td>
              <td>{{task.endTime}}</td>
              <td>{{task.taskStatus}}</td>
              <td>{{task.timeTaken}}</td>
    
            </tr>
    
    
          </tbody>
        </table> -->
      </div>
</div>

</ion-content>