<ion-header>
   
  <ion-navbar class="taskbar">
    
        <button ion-button menuToggle left>
            <ion-icon name="menu"></ion-icon>
          </button>
    
    <ion-title  text-center>ASSIGNED TASK</ion-title>
   
    
  </ion-navbar>
</ion-header>


<ion-content >
      <ion-list>
          <ion-item-sliding *ngFor="let task of taskList; let i = index">
            <ion-item >
                <ion-card class="animated customShadow flipInX fadeInRight">
                    <ion-row>
                      <ion-col col-2 style="background-color:#ddd;text-align: center">
                          <ion-card-content style="font-weight: bolder;
                          font-size: x-large;
                          margin-top: 9px;
                          margin-bottom: 9px;">
                             #{{i+1}}
                              <!-- Add card content here! -->
                            </ion-card-content>
                      </ion-col>
                      <ion-col>
                          <ion-card-header (click)="detailsTask(task,i)">
                              <h2>{{ task.ProjectName }}
                                <span float-right>{{task.taskStatus}}</span>
                                  <!-- <ion-icon name="radio-button-on" style="color:yellow" item-right></ion-icon> -->

                              <!-- <ion-icon *ngIf="task.taskStatus=='completed'" name="radio-button-on" style="color:green" item-right></ion-icon>
                              <ion-icon *ngIf="task.taskStatus=='pause'" name="radio-button-on" style="color:yellow" item-right></ion-icon>
                              <ion-icon *ngIf="task.taskStatus=='started'" name="radio-button-on" style="color:blue" item-right></ion-icon>
                              <ion-icon *ngIf="task.taskStatus=='given'" name="radio-button-on" style="color:red" item-right></ion-icon> -->

                            </h2> 
                          </ion-card-header>
                        
                          <ion-card-content>
                             
                            <!-- Add card content here! -->
                          </ion-card-content>
                      </ion-col>
                    </ion-row>
                   
                  
                  </ion-card>
              
            </ion-item>
           
            <ion-item-options side="right">
              <button ion-button style="background-color: red" (click)="transferTask(task)">
                <ion-icon name="swap" style="padding-left:6px;padding-right:6px"></ion-icon>
               
              </button>
              <button ion-button style="background-color:#50B4E6  " (click)="taskcomplete(task)">
                  <ion-icon name="checkmark" style="padding-left:6px;padding-right:6px"></ion-icon>
              
                </button>

            
                
                  <button (click)="presentActionSheet()" ion-button style="background-color:#E32AEC" >
                      <ion-icon name="menu" style="padding-left:6px;padding-right:6px"></ion-icon>
                      
                  </button>
            </ion-item-options>
            <ion-item-options side="left">
              <button ion-button style="background-color: red" (click)="startTask(task)">
                <!-- <ion-icon name="md-trash" style="padding-left:6px;padding-right:6px"></ion-icon> -->
               Start
              </button>
              <button ion-button style="background-color:#50B4E6  " (click)="taskPause(task)">
                  pause
              
              </button>
            </ion-item-options>
          </ion-item-sliding>
        

          <ion-item-sliding *ngFor="let task of taskListStarted; let i = index">
            <ion-item >
                <ion-card class="animated customShadow flipInX fadeInRight">
                    <ion-row>
                      <ion-col col-2 style="background-color:#ddd;text-align: center">
                          <ion-card-content style="font-weight: bolder;
                          font-size: x-large;
                          margin-top: 9px;
                          margin-bottom: 9px;">
                             #{{i+1}}
                              <!-- Add card content here! -->
                            </ion-card-content>
                      </ion-col>
                      <ion-col>
                          <ion-card-header (click)="detailsTask(task,i)">
                              <h2>{{ task.TaskName }}
                                  <!-- <ion-icon name="radio-button-on" style="color:yellow" item-right></ion-icon> -->

                              <!-- <ion-icon *ngIf="task.taskStatus=='completed'" name="radio-button-on" style="color:green" item-right></ion-icon>
                              <ion-icon *ngIf="task.taskStatus=='pause'" name="radio-button-on" style="color:yellow" item-right></ion-icon>
                              <ion-icon *ngIf="task.taskStatus=='started'" name="radio-button-on" style="color:blue" item-right></ion-icon>
                              <ion-icon *ngIf="task.taskStatus=='given'" name="radio-button-on" style="color:red" item-right></ion-icon> -->

                            </h2> 
                          </ion-card-header>
                        
                          <ion-card-content>
                             
                            <!-- Add card content here! -->
                          </ion-card-content>
                      </ion-col>
                    </ion-row>
                   
                  
                  </ion-card>
              
            </ion-item>
           
            <ion-item-options side="right">
              <button ion-button style="background-color: red" (click)="transferTask(task)">
                <ion-icon name="swap" style="padding-left:6px;padding-right:6px"></ion-icon>
               
              </button>
              <button ion-button style="background-color:#50B4E6  " (click)="taskcomplete(task)">
                  <ion-icon name="checkmark" style="padding-left:6px;padding-right:6px"></ion-icon>
              
                </button>

            
                
                  <button (click)="presentActionSheet()" ion-button style="background-color:#E32AEC" >
                      <ion-icon name="menu" style="padding-left:6px;padding-right:6px"></ion-icon>
                      
                  </button>
            </ion-item-options>
            <ion-item-options side="left">
              <button ion-button style="background-color: red" (click)="startTask(task)">
                <!-- <ion-icon name="md-trash" style="padding-left:6px;padding-right:6px"></ion-icon> -->
               Start
              </button>
              <button ion-button style="background-color:#50B4E6  " (click)="taskPause(task)">
                  pause
              
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
        <ion-fab right bottom >
            <button style="background-color: #FEA204" (click)="addTask()" ion-fab mini><ion-icon name="add"></ion-icon></button>
            </ion-fab>
</ion-content>
