<!--
  Generated template for the UserTypeChoicePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding class="background bg-yellow" scroll="false">
  <!-- <h5>select your user type</h5> -->
  <div style="position: absolute;
  text-align: start;
  bottom: 0px;
  width: calc(100% - 30px);">
      <button ion-button class="shadowbutton" full style=" letter-spacing: 2px; color:black;font-weight: bold; background-color: #ffffff" (click)="goToAdminLogin()">
          ADMIN
         </button>
         <br>
         <button ion-button class="shadowbutton" full style=" letter-spacing: 2px;margin-bottom: 14px;margin-top: -10px;color:black;font-weight: bold; background-color: #FFF" (click)="goToUserLogin()">
          USER
         </button>
  </div>
  
  <!-- <div class="center divcenter">
    
    <button ion-button outline round style="width: 45vw;  background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff),     color-stop(100%, #e5eef1));" (click)="goToAdminLogin()">
      ADMIN
     </button>
     <br>
     <button ion-button outline round style="width:45vw;" (click)="goToUserLogin()">
      USER
     </button>
    
  </div> -->
  <!-- <div animates #animation="animates" text-center>
    <button ion-button (click)="animation.start({type: 'rubberBand', duration: '1000'})">Click me!</button>
  </div> -->

 
</ion-content>
<!-- <ion-footer class="footer">
    <ion-toolbar>
        <button ion-button  full style="color:black;font-size: bold; background-color: #D5D2D2" (click)="goToAdminLogin()">
            ADMIN
           </button>
           <br>
           <button ion-button outline round style="width:45vw;" (click)="goToUserLogin()">
            USER
           </button>
    </ion-toolbar>
  </ion-footer> -->
