page-user-type-choice {
   .bg-yellow{
      background-color: #FFA200 !important;
   }
    .center {
        width: 300px;
        height: 300px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -150px;
        margin-top: -45px;
     }
     .divcenter{
        text-align: center; height: 30%; justify-items: center; 
     }
     
     ion-content {
      background: url(../assets/imgs/mainback.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
  }
  .page-footer {
   background-color: blue;
}
  .footer {
   background-color: #FFA200 !important;
   // height: 120px;
}

   .shadowbutton{
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0), 0 3px 1px -2px rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(0, 0, 0, 0)
   }
   //   background-image: url('../imgs/Xira_New_Logo.png');
}
