page-service-edit {
    ion-title {
        position: absolute;
        top: 0;
        left: 0;
        padding: -1px 86px 1px;
        width: 100%;
        height: 100%;
        text-align: center;
     }
     .toolbar-background {
        background-color: #FEA204;
        
      }
      .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 800;
        color: #fff;
    }
     
}
