<!--
  Generated template for the ServiceEditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

   <ion-navbar>
      <ion-title>EDIT SERVICE</ion-title>
   </ion-navbar>

</ion-header>


<ion-content padding>
   <ion-item margin-bottom no-lines>
      <ion-label floating>Service :</ion-label>
      <ion-input [(ngModel)]="listItem.Category"></ion-input>
      <!-- Assign our first FormControl of name to the input field -->
      <!-- <ion-input
       type="text"
       maxlength="40"
       formControlName="Category"></ion-input> -->

   </ion-item>
   <ion-item *ngFor="let item of listItem.workToDo; let i=index" margin-bottom no-lines>
      <ion-label>Sub Services</ion-label>
      <br>
      <h5>{{item.Category}}</h5><br>
      <ion-input [(ngModel)]="listItem.workToDo[i].Category">{{item.Category}}</ion-input>

      <!-- Assign our first FormControl of name to the input field -->
      <!-- <ion-input
       type="text"
       maxlength="40"
       formControlName="Category"></ion-input> -->

   </ion-item>
   <span *ngIf="value" ion-button float-left icon-left clear (click)="addNewInputField()">
      <ion-icon name="add"></ion-icon>
      Add another Sub-Service
   </span>

   <span *ngIf="!value" ion-button float-left icon-left clear style="color:#FEA204" (click)="addNewInputField1(0)">
      <ion-icon name="add"></ion-icon>
      Add another Sub-Service
   </span>
   <form *ngIf="value" [formGroup]="form">
      <ion-list margin-bottom>



         <!-- Assign the technologies FormArray to the form
              where we want to track/generate new input track fields -->
         <div formArrayName="workToDo1" margin-bottom>


            <!-- Assign a FormGroupName property binding to track
                 and manage each separate generated input field.
                 Also iterate through the technologies FormArray to
                 correctly track/render new input fields against
                 existing fields -->
            <section [formGroupName]="i" *ngFor="let tech of form.controls.workToDo1.controls; let i = index">
               <ion-item-group>
                  <!-- <ion-item-divider color="light">Name #{{ i + 1 }}</ion-item-divider> -->
                  <ion-item>
                     <ion-label floating>Sub Service:</ion-label>
                     <ion-input type="text" maxlength="50" formControlName="Category"></ion-input>
                  </ion-item>


                  <!-- Allow generated input field to be removed -->
                  <span float-right ion-button icon-left clear *ngIf="form.controls.workToDo1.length > 1" (click)="removeInputField(i)">
                     <ion-icon name="close"></ion-icon>
                     Remove
                  </span>
               </ion-item-group>
            </section>
         </div>


         <!-- Allow new input field to be generated/added -->



      </ion-list>


      <!-- Only allow form to be submitted IF validation criteria for
              input fields has been successfully passed -->

   </form>
   <div *ngIf="value">
      <button ion-button block margin-top style="background-color:#FEA204" text-center (click)="manage(form.value,listItem)">Submit</button>
   </div>

   <div *ngIf="!value">
      <button ion-button block margin-top style="background-color:#FEA204" text-center (click)="manage1(listItem)">Submit</button>
   </div>

</ion-content>