<!--
  Generated template for the AdminMainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
      <ion-title>ADMIN</ion-title>
    </ion-navbar>
   
  </ion-header>



<ion-content padding>

<ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="pull to refresh" refreshingSpinner="circles"
    refreshingText="Refreshing...">


    </ion-refresher-content>
</ion-refresher>



<ion-list>
  <ion-item-sliding  *ngFor="let user of userDetails" >
      
      <ion-item  (click)="getUserTaskDetails(user)" >

          <ion-avatar item-start>
              <img src="./assets/imgs/girldemo.jpg">
            </ion-avatar>
            <h2>{{user.firstName}}</h2>
             <ion-icon *ngIf="user.userStatus=='online'" name="radio-button-on" style="color:green" item-right></ion-icon>
             <ion-icon *ngIf="user.userStatus=='pause'" name="radio-button-on" style="color:yellow" item-right></ion-icon>
            <ion-icon *ngIf="user.userStatus=='offline'" name="radio-button-on" style="color:red" item-right></ion-icon>
            <p></p>
    
      
    </ion-item>
    <ion-item-options side="right">
        <button ion-button style="background-color: rgb(24, 240, 132)" (click)="assignProject(user)">
          <ion-icon name="briefcase" style="padding-left:6px;padding-right:6px"></ion-icon>
         
        </button>
        <button ion-button style="background-color:rgb(158, 29, 190)  " (click)="assignTask(user)">
            <ion-icon name="list-box" style="padding-left:6px;padding-right:6px"></ion-icon>
        
          </button>

        
      </ion-item-options>
  </ion-item-sliding>
</ion-list>
    <ion-fab right bottom >
        <button style="background-color: #FEA204" (click)="addUser()" ion-fab mini><ion-icon name="person-add"></ion-icon></button>
    </ion-fab>
    <!-- <button (click)="testpage()">
        test 
    </button> -->
</ion-content>
