<!--
  Generated template for the AddProjectCategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
      <ion-title>ADD SERVICE</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
      <form
      [formGroup]="form"
      (ngSubmit)="manage(form.value)">
   	  <ion-list
   	     margin-bottom>
         <ion-item
            margin-bottom
            no-lines>
            <ion-label floating>Service :</ion-label>

            <!-- Assign our first FormControl of name to the input field -->
            <ion-input
               type="text"
               maxlength="40"
               formControlName="Category"></ion-input>
            <span>Please enter a framework name of no more than 40 characters</span>
         </ion-item>


         <!-- Assign the technologies FormArray to the form
              where we want to track/generate new input track fields -->
	     <div
	        formArrayName="workToDo1"
	        margin-bottom>


            <!-- Assign a FormGroupName property binding to track
                 and manage each separate generated input field.
                 Also iterate through the technologies FormArray to
                 correctly track/render new input fields against
                 existing fields -->
            <section
               [formGroupName]="i"
               *ngFor="let tech of form.controls.workToDo1.controls; let i = index">
               <ion-item-group>
               	  <!-- <ion-item-divider color="light">Name #{{ i + 1 }}</ion-item-divider> -->
                  <ion-item>
                     <ion-label floating>Sub Service:</ion-label>
                     <ion-input
                        type="text"
                        maxlength="50"
                        formControlName="Category"></ion-input>
                  </ion-item>


                  <!-- Allow generated input field to be removed -->
                  <span
                     float-right
                     ion-button
                     icon-left
                     clear
                     *ngIf="form.controls.workToDo1.length > 1"
                     (click)="removeInputField(i)">
                     <ion-icon name="close"></ion-icon>
                     Remove
                  </span>
               </ion-item-group>
            </section>
         </div>


         <!-- Allow new input field to be generated/added -->
         <span
            ion-button
            float-left
            icon-left
            clear
            (click)="addNewInputField()">
               <ion-icon name="add"></ion-icon>
               Add another Sub-Service
         </span>


   	 </ion-list>


   	 <!-- Only allow form to be submitted IF validation criteria for
              input fields has been successfully passed -->
         <button
   	     ion-button
   	     block
   	     margin-top
   	     color="primary"
   	     text-center
   	     [disabled]="!form.valid">Submit</button>
   </form>
    <!-- <ion-item>
      <ion-label stacked style="color:#FEA204">Service</ion-label>
      <ion-input [(ngModel)]="Category" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked style="color:#FEA204">Sub Service</ion-label>
      <ion-input id="more_fields" [(ngModel)]="workToDo" type="text">
      </ion-input>
      <ion-icon name="ios-add" item-right (click)="add_fields1()" ></ion-icon>
    </ion-item>

    
    <div style="margin-top:5%; text-align: center; "> 
      <button ion-button outline round style="border-color:#FEA204; color:#FEA204" (click)="addCategory()">
          Add Category
      </button>
  </div> -->
  </ion-content>
