page-assign-task {
    .adminmainNavbar{
        text-align: center; background-color: #ffffff
        }
        .back-button.show-back-button {
            z-index: 9999;
            display: inline-block;
        }

        ion-title {
            position: absolute;
            top: 0;
            left: 0;
            padding: 0 86px 1px;
            width: 100%;
            height: 100%;
            text-align: center;
         }
         .toolbar-background {
            background-color: #FEA204;
            
          }
          .item-md{
              padding-left: 0px !important;
          }
          .toolbar-title-md {
            padding: 0 12px;
            font-size: 2rem;
            font-weight: 800;
            color: #fff;
        }
}
