<!--
  Generated template for the AssignTaskPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
  Generated template for the AddTaskPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="addtaskHeader">

    <ion-navbar>
      <ion-title>ASSIGN TASK</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
    <!-- <ion-item>
      <ion-label floating >Project Name</ion-label>
      <ion-input  [(ngModel)]="projectName"></ion-input>
    </ion-item> -->
    <ion-item style="margin-top:3vw;">
        <ion-icon name="document" style="color:#FEA204" item-left></ion-icon>
  
        <ion-label>Select Project</ion-label>
        
        <ion-select [(ngModel)]="projectName" (ionChange)="getProject($event)">
          <ion-option *ngFor="let name of projectList">{{name.projectName}}</ion-option>
        </ion-select>
      </ion-item>
    <ion-item>
      <ion-label >Category</ion-label>
      <ion-icon name="checkbox" style="color:#FEA204" item-left></ion-icon>
      <ion-select [(ngModel)]="taskName">
          <ion-option *ngFor="let name of catadd;let i = index">{{name}}</ion-option>
        </ion-select>
      <!-- <ion-input placeholder="Task Title" [(ngModel)]="taskName"></ion-input> -->
    </ion-item>
    <ion-item>
      <!-- <ion-label floating >Task Name</ion-label> -->
      <ion-icon name="list-box" style="color:#FEA204" item-left></ion-icon>
      <ion-textarea #note id="note" rows="1" maxLength="500" placeholder="Task Description" [(ngModel)]="taskDescription"></ion-textarea>
    </ion-item>
    <ion-item style="margin-top:3vw;">
        <ion-icon name="flag" style="color:#FEA204" item-left></ion-icon>
  
        <ion-label>Select Priority</ion-label>
        
        <ion-select [(ngModel)]="Priority">
          <ion-option value="high">High</ion-option>
          <ion-option value="medium">Medium</ion-option>
          <ion-option value="low">Low</ion-option>

        </ion-select>
      </ion-item>
    <div style="margin-top:5%; text-align: center; ">
        <button ion-button round style="background-color:#FEA204" (click)="AddTask()">
            Add
        </button>
    </div>
    
  </ion-content>
  

