<!--
  Generated template for the UserprofilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="adminmainNavbar">
    <ion-title>USERPROFILE</ion-title>
    <ion-buttons end *ngIf="showTaskToAdmin">
      <button ion-button icon-only (click)="assignTask()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- <div >
    <button ion-button round style="background-color:#FEA204" (click)="showTimings()">
          Time
    </button>
    <button ion-button round style="background-color:#FEA204" (click)="showTask()">
      Task
    </button>
    <button ion-button round style="background-color:#FEA204" (click)="showProjects()">
        Projects
    </button>
    
  </div> -->
  <div style="margin-bottom:10px">
    <ion-row>
      <ion-col *ngIf="!showTimingsToAdmin" style="text-align:center;background-color:white;color:#FEA204;font-weight: 700;font-weight: bold"
        (click)="showTimings()">

        TIMING

      </ion-col>
      <ion-col *ngIf="showTimingsToAdmin" style="border-bottom: #FEA204 2px solid; text-align:center;background-color:white;color:#FEA204;font-weight: 700;font-weight: bold"
        (click)="showTimings()">

        TIMING

      </ion-col>
      <ion-col *ngIf="!showTaskToAdmin" style="text-align:center;background-color:white;color:#FEA204;font-weight: 700;font-weight: bold"
        (click)="showTask()">
        TASK

      </ion-col>
      <ion-col *ngIf="showTaskToAdmin" style="border-bottom: #FEA204 2px solid; text-align:center;background-color:white;color:#FEA204;font-weight: 700;font-weight: bold"
        (click)="showTask()">

        TASK

      </ion-col>

      <ion-col *ngIf="!showProjectsToAdmin" style="text-align:center;background-color:white;color:#FEA204;font-weight: 700;font-weight: bold"
        (click)="showProjects()">
        PROJECTS

      </ion-col>
      <ion-col *ngIf="showProjectsToAdmin" style="border-bottom: #FEA204 2px solid; text-align:center;background-color:white;color:#FEA204;font-weight: 700;font-weight: bold"
        (click)="showProjects()">

        PROJECTS

      </ion-col>

    </ion-row>
  </div>
  <div *ngIf="showTimingsToAdmin">
    <div class=" centerme table-responsive">
      <table class="table tablerow">
        <!-- <thead> -->
        <tr>
          <th class="fixed-position" style="background-color:#34495E;
            color:white;
    width: 121px;">Date</th>
          <td style="color:#34495E;" *ngFor="let time of times;let i = index">{{time.key}}</td>
        </tr>
        <tr>
          <th class="fixed-position" style="background-color:#34495E;
            color:white;
    width: 121px;">StartTIme</th>
          <td style="color:#34495E;" *ngFor="let time of times">{{time.JobStartTime | date:'shortTime'}}</td>
        </tr>
        <tr>
          <th class="fixed-position" style="background-color:#34495E;
            color:white ;
    width: 121px;">LunchStart</th>
          <td style="color:#34495E;" *ngFor="let time of times">{{time.LunchStartTime | date:'shortTime'}}</td>

        </tr>
        <tr>
          <th class="fixed-position" style="background-color:#34495E;
            color:white;
    width: 121px;">LunchEnd</th>
          <td style="color:#34495E;" *ngFor="let time of times">{{time.LunchEndTime | date:'shortTime'}}</td>

        </tr>
        <tr>
          <th class="fixed-position" style="background-color:#34495E;
            color:white;
    width: 121px;">ExtraBreakStart</th>
          <td style="color:#34495E;" *ngFor="let time of times">{{time.ExtraBreakStart | date:'shortTime'}}</td>

        </tr>
        <tr>
          <th class="fixed-position" style="background-color:#34495E;
              color:white;
    width: 121px;">ExtraBreakEnd</th>
          <td style="color:#34495E;" *ngFor="let time of times">{{time.ExtraBreakEnd | date:'shortTime'}}</td>

        </tr>
        <tr>
          <th class="fixed-position" style="background-color:#34495E;
              color:white;
    width: 121px;">EndTime</th>
          <td style="color:#34495E;" *ngFor="let time of times">{{time.JobEndTime | date:'shortTime'}}</td>

        </tr>
        <tr>
          <th class="fixed-position" style="background-color:#34495E;
              color:white;
    width: 121px;">Total
            JobTime</th>
          <td style="color:#34495E;" *ngFor="let time of times">{{time.totaljob }}</td>
        </tr>
        <!-- </thead> -->

        <!-- <tr></tr>
          
            
            <th>ExtraBreakStart</th>
            <th>ExtraBreakEnd</th>
            <th>EndTime</th>
            <th>Total JobTime</th>
          </tr>
        </thead>
        <tbody style="color:#34495E">

          <tr *ngFor="let time of times">
            <td>{{time.key}}</td>
            <td>{{time.JobStartTime}}</td>
            <td>{{time.LunchStartTime}}</td>
            <td>{{time.LunchEndTime}}</td>
            <td>{{time.ExtraBreakStart}}</td>
            <td>{{time.ExtraBreakEnd}}</td>
            <td>{{time.JobEndTime}}</td>
            <td>{{time.totaljob}}</td>
          </tr> -->


        <!-- </tbody> -->
      </table>
    </div>

    <!-- <div style="text-align:center;">
      <button ion-button round style="background-color:#FEA204" (click)="assign()">
        DONE
      </button>
    </div> -->
  </div>

  <div *ngIf="showTaskToAdmin">
    <div class=" centerme table-responsive">
      <table class="table tablerow">
        <!-- <thead style="background-color:#34495E;
      color:white"> -->
        <tr>
          <th class="fixed-position" style="background-color:#34495E;
        color:white ;
width: 121px;">#</th>
          <td style="color:#34495E;" *ngFor="let task of userTask; let i = index">{{i+1}}</td>
        </tr>

        <tr>
          <th class="fixed-position" style="background-color:#34495E;
        color:white ;
width: 121px;">Project</th>
          <td style="color:#34495E;" *ngFor="let task of userTask; let i = index">{{task.ProjectName}}</td>
        </tr>

        <tr>
          <th class="fixed-position" style="background-color:#34495E;
        color:white ;
width: 121px;">Priority</th>
          <td style="color:#34495E;" *ngFor="let task of userTask; let i = index">{{task.Priority}}</td>
        </tr>

        <tr>
          <th class="fixed-position" style="background-color:#34495E;
        color:white ;
width: 121px;">Category</th>
          <td style="color:#34495E;" *ngFor="let task of userTask; let i = index">{{task.TaskName}}</td>
        </tr>

        <tr>
          <th class="fixed-position" style="background-color:#34495E;
        color:white ;
width: 121px;">Task</th>
          <td style="color:#34495E;" *ngFor="let task of userTask; let i = index">{{task.TaskDescription}}</td>
        </tr>

        <tr>
          <th class="fixed-position" style="background-color:#34495E;
        color:white ;
width: 121px;">Assigned By</th>
          <td style="color:#34495E;" *ngFor="let task of userTask; let i = index">{{task.assignedBy}}</td>
        </tr>

        <tr>
          <th class="fixed-position" style="background-color:#34495E;
        color:white ;
width: 121px;">StartTime</th>
          <td style="color:#34495E;" *ngFor="let task of userTask; let i = index">{{task.startTime}}</td>
        </tr>

        <tr>
          <th class="fixed-position" style="background-color:#34495E;
        color:white ;
width: 121px;">EndTime</th>
          <td style="color:#34495E;" *ngFor="let task of userTask; let i = index">{{task.endTime}}</td>
        </tr>

        <tr>
          <th class="fixed-position" style="background-color:#34495E;
        color:white ;
width: 121px;">Task status</th>
          <td style="color:#34495E;" *ngFor="let task of userTask; let i = index">{{task.taskStatus}}</td>
        </tr>
        <tr>
          <th class="fixed-position" style="background-color:#34495E;
        color:white ;
width: 121px;">Time Taken</th>
          <td style="color:#34495E;" *ngFor="let task of userTask; let i = index">{{task.timeTaken}}</td>
        </tr>


        <!-- <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody style="color:#34495E">

        <tr *ngFor="let task of userTask; let i = index">
          <td>{{i+1}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

        </tr>


      </tbody> -->
      </table>
    </div>
  </div>

</ion-content>