<!--
  Generated template for the AdminLoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header style="background-color:#FEA204">

  <ion-navbar class="registraNavbar">
    <ion-title text-center>WELCOME ADMIN</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div style="text-align:center;margin-top: 30%">
      <img src="./assets/imgs/Xira_New_Logo.png" style="width:50vw; height:30hv;">

  </div>
  <ion-item >
     
    <ion-label floating style="color: #000;">Email Id</ion-label>
    <ion-input  [(ngModel)]="data.adminEmail" name="adminEmail" [formControl]="loginForm.controls['email'] " type="email" value=""></ion-input>
  </ion-item>

  <ion-item >
    <ion-label floating style="color:#000">Password</ion-label>
    <ion-input [(ngModel)]="data.password" name="password" [formControl]="loginForm.controls['password'] "  value="" type="password"></ion-input>
  </ion-item>

  <div *ngIf="isenabled" style="color:red !important">
      {{errorMess}}
  </div>
  <div style="    text-align: right;">
      <button ion-button clear style="color:#FEA204" (click)="showPrompt()">
          Forgot Password?
      </button>
  </div>

  <div style="margin-top:5%; text-align: center; "> 
      <button ion-button round style="background-color:#FEA204" (click)="goToAdminMainPage()">
          LogIn
      </button><br>
      <button ion-button clear style="color: #FEA204;" (click)="goToRegistrationPage()">
          signup
      </button>
  </div>
  
</ion-content>

