<!--
  Generated template for the ReviewTaskPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>ReviewTask</ion-title>
  </ion-navbar>

</ion-header> -->
<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>REVIEW TASK</ion-title>
  </ion-navbar>
 
</ion-header>


<ion-content >
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="pull to refresh" refreshingSpinner="circles"
        refreshingText="Refreshing...">
    
    
        </ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <ion-item-sliding *ngFor="let task of completedTask; let i = index">
          <ion-item >
              <ion-card>
                  <ion-row>
                    <ion-col col-2 style="background-color:#ddd;text-align: center;">
                        <ion-card-content style="font-weight: bolder;
                        font-size: x-large;
                        margin-top: 9px;
                        margin-bottom: 9px;">
                           #{{i+1}}
                            <!-- Add card content here! -->
                      </ion-card-content>
                    </ion-col>
                    <ion-col>
                        <ion-card-header (click)="detailsTask(task,i)">
                            <h2>{{ task.ProjectName }}
                                <!-- <ion-icon name="radio-button-on" style="color:yellow" item-right></ion-icon> -->
                                <span float-right style="color:grey">{{ task.firstName }}
                             

                                </span>
                            <!-- <ion-icon *ngIf="task.taskStatus=='completed'" name="radio-button-on" style="color:green" item-right></ion-icon>
                            <ion-icon *ngIf="task.taskStatus=='pause'" name="radio-button-on" style="color:yellow" item-right></ion-icon>
                            <ion-icon *ngIf="task.taskStatus=='started'" name="radio-button-on" style="color:blue" item-right></ion-icon>
                            <ion-icon *ngIf="task.taskStatus=='given'" name="radio-button-on" style="color:red" item-right></ion-icon> -->

                          </h2> 
                     
                        </ion-card-header>
                      
                        <ion-card-content>
                           
                          <!-- Add card content here! -->
                        </ion-card-content>
                    </ion-col>
                  </ion-row>
                 
                
                </ion-card>
            
          </ion-item>
         
          <ion-item-options side="left">
            <button ion-button style="background-color: red" (click)="done(task)">
              <!-- <ion-icon name="md-trash" style="padding-left:6px;padding-right:6px"></ion-icon> -->
             Done
            </button>
            <button ion-button style="background-color:#50B4E6  " (click)="pending(task)">
                <ion-icon name="checkmark" style="padding-left:6px;padding-right:6px">
                </ion-icon>
              pending
            </button>
          </ion-item-options>
        </ion-item-sliding>
      
      </ion-list>
</ion-content>
