// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import 'intl-tel-input/build/css/intlTelInput.css';
@import url('https://fonts.googleapis.com/css?family=Raleway');
// @font-face {
//     font-family: Raleway;
//     src: url("../assets/fonts/Raleway/Raleway-Black.ttf") format('ttf'), url("../assets/fonts/Raleway/Raleway-Bold.ttf") format('ttf'),
//     url("../assets/fonts/Raleway/Raleway-Bold.ttf") format('ttf'),url("../assets/fonts/Raleway/Raleway-Regular.ttf") format('ttf');
//   }

  *{
      font-family:'Raleway',sans-serif;
  }