<!--
  Generated template for the UserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>TASK REPORT</ion-title>
  </ion-navbar>
 
</ion-header>


<ion-content padding>
  <div style="margin-bottom:10px">
    <ion-row>
      <ion-col *ngIf="showproject" style="text-align:center;background-color:white;color:#FEA204;font-weight: 700;font-weight: bold" (click)="showTasks()">
          
              Task
             
      </ion-col>
      <ion-col *ngIf="showTask" style="border-bottom: #FEA204 2px solid; text-align:center;background-color:white;color:#FEA204;font-weight: 700;font-weight: bold" (click)="showTasks()">
          
          Task
          
  </ion-col>
      <ion-col *ngIf="showTask"  style="text-align:center;background-color:white;color:#FEA204;font-weight: 700;font-weight: bold"  (click)="showProjects()">
              Projects
         
      </ion-col>
      <ion-col *ngIf="showproject" style="border-bottom: #FEA204 2px solid; text-align:center;background-color:white;color:#FEA204;font-weight: 700;font-weight: bold" (click)="showTasks()">
          
          Projects
          
  </ion-col>
    </ion-row>
      
      
  </div>
  <div *ngIf="showTask">
    <div  class="centerme table-responsive" style="text-align:center;"center text-center>
       
          <div class=" centerme table-responsive">
              <table class="table tablerow">
                  <!-- <thead style="background-color:#34495E;
                  color:white"> -->
                  <tr >
                    <th class="fixed-position" style="background-color:#34495E;
                    color:white ;position: fixed;
            width: 121px;">#</th>
                    <td style="color:#34495E;" *ngFor="let task of projectTask; let i = index">{{i+1}}</td>
                  </tr>
            
                  <tr >
                    <th class="fixed-position" style="background-color:#34495E;
                    color:white ;position: fixed;
            width: 121px;">User</th>
                    <td style="color:#34495E;" *ngFor="let task of projectTask; let i = index">{{task.username}}</td>
                  </tr>
            
                  <tr >
                    <th class="fixed-position" style="background-color:#34495E;
                    color:white ;position: fixed;
            width: 121px;">Task</th>
                    <td style="color:#34495E;" *ngFor="let task of projectTask; let i = index">{{task.TaskName}}</td>
                  </tr>
            
                  <tr >
                    <th class="fixed-position" style="background-color:#34495E;
                    color:white ;position: fixed;
            width: 121px;">Priority</th>
                    <td style="color:#34495E;" *ngFor="let task of projectTask; let i = index">{{task.Priority}}</td>
                  </tr>
            
                  <tr >
                    <th class="fixed-position" style="background-color:#34495E;
                    color:white ;position: fixed;
            width: 121px;">Assigned By</th>
                    <td style="color:#34495E;" *ngFor="let task of projectTask; let i = index">{{task.assignedBy}}</td>
                  </tr>
            
                  <tr >
                    <th class="fixed-position" style="background-color:#34495E;
                    color:white ;position: fixed;
            width: 121px;">Time Taken</th>
                    <td style="color:#34495E;" *ngFor="let task of projectTask; let i = index">{{task.taskStatus}}</td>
                  </tr>
            
            
            
                    <!-- <tr>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody style="color:#34495E">
            
                    <tr *ngFor="let task of userTask; let i = index">
                      <td>{{i+1}}</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
            
                    </tr>
            
            
                  </tbody> -->
                </table>
              <!-- <table class="table">
                <thead style="background-color:#34495E;
                color:white">
                  <tr>
                    <th>#</th>
                    <th>Project</th>
                    <th>Priority</th>
                    <th>Category</th>
                    <th>Task</th>
                    <th>Assigned By</th>
                    <th>StartTime</th>
                    <th>EndTime</th>
                    <th>Task status</th>
                    <th>Time Taken</th>
                  </tr>
                </thead>
                <tbody style="color:#34495E">
          
                  <tr *ngFor="let task of userTask; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{task.ProjectName}}</td>
                    <td>{{task.Priority}}</td>
                    <td>{{task.TaskName}}</td>
                    <td>{{task.TaskDescription}}</td>
                    <td>{{task.assignedBy}}</td>
                    <td>{{task.startTime}}</td>
                    <td>{{task.endTime}}</td>
                    <td>{{task.taskStatus}}</td>
                    <td>{{task.timeTaken}}</td>
          
                  </tr>
          
          
                </tbody>
              </table> -->
            </div>
              <!-- <table class="table">
                <thead style="background-color:#34495E;
                color:white">
                  <tr>
                    <th>#</th>
                    <th>User</th>
                    <th>Task</th>
                    <th>Priority</th>
                    <th>Assigned By</th>
                    <th>Task status</th>
                    <th>Time Taken</th>
                  </tr>
                </thead>
                <tbody style="color:#34495E">
                  <tr *ngFor="let task of projectTask;let i = index ">
                    <td>{{i+1}}</td>
                    <td>{{task.username}}</td>
                    <td>{{task.TaskName}}</td>
                    <td>{{task.Priority}}</td>
                    <td>{{task.assignedBy}}</td>
                    <td>{{task.taskStatus}}</td>
                    <td>{{task.timeTaken}}</td>
                  </tr>
                </tbody>
              </table> -->


             
    </div>
 </div>
 <div *ngIf="showproject">
    <ion-item>
        <ion-label  >Project</ion-label>
        <ion-icon name="briefcase" style="color:#FEA204" item-left></ion-icon>
        <ion-input [(ngModel)]="itemTask.projectName" readonly ></ion-input>
      </ion-item>
        <ion-item-group >
          <ion-item-divider color="light">Services<ion-icon name="checkmark" style="color:#FEA204" item-left></ion-icon>
          </ion-item-divider>
          <ion-item *ngFor="let item of itemTask.category">{{item}}</ion-item>
          <!-- <ion-item>Argentina</ion-item> -->
        </ion-item-group>

        <ion-item-group >
            <ion-item-divider color="light">Sub Services <ion-icon name="person" style="color:#FEA204" item-left></ion-icon>
            </ion-item-divider>
            <ion-item *ngFor="let item of itemTask.projectDescription">{{item}}</ion-item>
            <!-- <ion-item>Argentina</ion-item> -->
          </ion-item-group>
    <!-- <ion-item text-wrap>

        <ion-label>Services</ion-label>
        <ion-icon name="checkmark" style="color:#FEA204" item-left></ion-icon>
        <ion-input  [(ngModel)]="itemTask.category" readonly ></ion-input>
      </ion-item> -->
     
      <!-- <ion-item text-wrap>
        <ion-label>Sub Services</ion-label>
        <ion-icon name="person" style="color:#FEA204" item-left></ion-icon>
        <ion-input [(ngModel)]="itemTask.projectDescription" readonly ></ion-input>
      </ion-item> -->
 </div>
 
</ion-content>
