<!--
  Generated template for the AddTaskPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>ADD TASK</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-content padding>
   
    <ion-item style="margin-top:3vw;">
        <ion-icon name="document" style="color:#FEA204" item-left></ion-icon>
  
        <ion-label>Select project</ion-label>
        
        <ion-select [(ngModel)]="projectName" text-wrap>
          <ion-option *ngFor="let name of userProject">{{name.projectName}}</ion-option>
        </ion-select>
      </ion-item>
    <ion-item>
      <ion-icon name="checkbox" style="color:#FEA204" item-left></ion-icon>
      <ion-input placeholder="Task Title" [(ngModel)]="taskName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="list-box" style="color:#FEA204" item-left></ion-icon>
      <ion-textarea #note id="note" rows="1" maxLength="500" placeholder="Task Description" [(ngModel)]="taskDescription"></ion-textarea>
    </ion-item>
    <ion-item style="margin-top:3vw;">
        <ion-icon name="flag" style="color:#FEA204" item-left></ion-icon>
  
        <ion-label>Select Priority</ion-label>
        
        <ion-select [(ngModel)]="Priority">
          <ion-option value="high">High</ion-option>
          <ion-option value="medium">Medium</ion-option>
          <ion-option value="low">Low</ion-option>

        </ion-select>
      </ion-item>
    <div style="margin-top:5%; text-align: center; ">
        <button ion-button round style="background-color:#FEA204" (click)="AddTask()">
            Add
        </button>
    </div>
    
  </ion-content>
</ion-content>
