<!--
  Generated template for the AdminsideTimingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    
      <button ion-button menuToggle left>
        <ion-icon name="menu"></ion-icon>
      </button>

      <ion-title text-center>TIMING REPORT</ion-title>

   
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="accordion">


    <ion-item *ngFor="let item of projectList" (click)="getProjectReport(item)">
      <h2 href="#" class="acc-handle" tabindex="0">{{item.projectName}}</h2>

      <!-- <h2 href="#" class="acc-handle" tabindex="0">{{item.projectName}}</h2> -->

      <div class="acc-panel">
        <div class="centerme table-responsive" style="text-align:center;" center text-center>
          
          <table class="table">
            <thead style="background-color:#34495E;
          color:white">
              <tr>
                <th>Date</th>
                <th>StartTIme</th>
                <th>LunchStart</th>
                <th>LunchEnd</th>
                <th>ExtraBreakStart</th>
                <th>ExtraBreakEnd</th>
                <th>EndTime</th>
                <th>Total JobTime</th>
              </tr>
            </thead>
            <tbody style="color:#34495E">

              <tr *ngFor="let time of timings">
                <td>{{time.key}}</td>
                <td>{{time.JobStartTime}}</td>
                <td>{{time.LunchStartTime}}</td>
                <td>{{time.LunchEndTime}}</td>
                <td>{{time.ExtraBreakStart}}</td>
                <td>{{time.ExtraBreakEnd}}</td>
                <td>{{time.JobEndTime}}</td>
                <td>{{time.totaljob}}</td>
              </tr>


            </tbody>
          </table>



        </div>
      </div>
    </ion-item>

  </div>

</ion-content>