<!--
  Generated template for the DoneTaskPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>COMPLETED TASK</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list >
      <ion-item  *ngFor="let task of doneTask; let i = index">
          <ion-card (click)="goToTaskDetails">
              <ion-row>
                <ion-col col-2 style="background-color:#ddd;text-align: center">
                    <ion-card-content style="font-weight: bolder;
                    font-size: x-large;
                    margin-top: 9px;
                    margin-bottom: 9px;">
                       #{{i+1}}
                        <!-- Add card content here! -->
                      </ion-card-content>
                </ion-col>
                <ion-col>
                    <ion-card-header (click)="detailsTask(task,i)">
                        <h2>{{ task.TaskName }}</h2> 
                    </ion-card-header>
                  
                    <ion-card-content>
                       
                      <!-- Add card content here! -->
                    </ion-card-content>
                </ion-col>
              </ion-row>
             
            
            </ion-card>
        
      </ion-item>
     
     
    <!-- <ion-fab right bottom >
      <button (click)="addTask()" ion-fab mini><ion-icon name="add"></ion-icon></button>
      </ion-fab> -->
  </ion-list>
</ion-content>
