<!--
  Generated template for the DetailedTaskPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar class="taskbar">

    <!-- <button ion-button menuToggle right>
            <ion-icon name="menu"></ion-icon>
          </button> -->

    <ion-title text-center>TASK DETAILS</ion-title>

  </ion-navbar>
</ion-header>

<ion-content>
  <h5 style="padding-left:10px;">#{{index+1}}: {{taskdetails.TaskName}}</h5>
  <!-- <div style="background-color:red;height: 5px;"></div> -->

  <div *ngIf="pageName=='adminAssign'" style="background-color:red;height: 5px;"></div>
  <div *ngIf="pageName=='pending'" style="background-color:yellow;height: 5px;"></div>

  <div *ngIf="pageName=='completed'" style="background-color:green;height: 5px;"></div>

  <ion-item>
    <ion-label>Task Status</ion-label>
    <ion-icon name="checkmark" style="color:#FEA204" item-left></ion-icon>
    <ion-input [(ngModel)]="taskdetails.taskStatus" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Project</ion-label>
    <ion-icon name="briefcase" style="color:#FEA204" item-left></ion-icon>
    <ion-input [(ngModel)]="taskdetails.ProjectName" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Assigned by</ion-label>
    <ion-icon name="person" style="color:#FEA204" item-left></ion-icon>
    <ion-input [(ngModel)]="taskdetails.assignedBy" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Assigned Date</ion-label>
    <ion-icon name="calendar" style="color:#FEA204" item-left></ion-icon>
    <ion-input [(ngModel)]="taskdetails.assignedDate" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Priority</ion-label>
    <ion-icon name="flag" style="color:#FEA204" item-left></ion-icon>
    <ion-input [(ngModel)]="taskdetails.Priority" readonly></ion-input>
  </ion-item>

  <h5 style="padding-left:10px;">Description:</h5>
  <p style="padding-left:10px;">{{taskdetails.TaskDescription}}</p>

  <div *ngIf="taskdetails.RemarkByMe">
    <h5 style="padding-left:10px;">Remark By User:</h5>
    <p style="padding-left:10px;">{{taskdetails.RemarkByMe}}</p>
  </div>
  <div *ngIf="taskdetails.RemarkByAdmin">
    <h5 style="padding-left:10px;">Remark By Admin:</h5>
    <p style="padding-left:10px;">{{taskdetails.RemarkByAdmin}}</p>
  </div>
 

  <div *ngIf="pageName=='review'">
    <button class="button1" ion-button round style="background-color:#FEA204" (click)="donereview()">
      done
    </button>
    <button class="button1" ion-button round style="background-color:#FEA204" (click)="pendingReview()">
      pending
    </button>
  </div>

  <div *ngIf="pageName=='adminAssign'" style="text-align:center">
    <button ion-button icon-end class="button1" style="background-color:#FEA204;font-weight: 600 !important" (click)="startTask()">
      Start
      <ion-icon name="play"></ion-icon>
    </button>
    <button ion-button icon-end class="button1" style="background-color:#FEA204;font-weight: 600 !important" (click)="taskPause()">
      Pause
      <ion-icon name="pause"></ion-icon>
    </button>
    <button ion-button icon-end class="button1" style="background-color:#FEA204;font-weight: 600 !important" (click)="transferTask()">
      Transfer
      <ion-icon name="swap"></ion-icon>
    </button>
    <button ion-button icon-end class="button1" style="background-color:#FEA204;font-weight: 600 !important" (click)="taskcomplete()">
      Completed
      <ion-icon name="checkmark"></ion-icon>
    </button>
  </div>

  <div *ngIf="pageName=='pending'" style="text-align:center;">
    <button ion-button icon-end class="button1" style="background-color:#FEA204;font-weight: 600 !important;" (click)="startTaskPending()">
      Start
      <ion-icon name="play"></ion-icon>
    </button>

    <!-- <button ion-button icon-end>
      Right Icon
      <ion-icon name="home"></ion-icon>
    </button> -->
    <!-- <button ion-button icon-only class="button1" style="background-color:#FEA204" (click)="taskPausepending()">
        <ion-icon name="pause"></ion-icon>
    </button> -->
    <button ion-button icon-end class="button1" style="background-color:#FEA204; font-weight: 600 !important;" (click)="transferTaskPending()">
      Transfer
      <ion-icon name="swap"></ion-icon>
    </button>
    <!-- <button ion-button icon-only class="button1" style="background-color:#FEA204" (click)="taskcompletepending()">
          <ion-icon name="checkmark"></ion-icon>
      </button> -->
  </div>

</ion-content>