page-detailed-task {
    .adminmainNavbar{
        text-align: center; background-color: #ffffff
        }
        .back-button.show-back-button {
            z-index: 9999;
            display: inline-block;
        }

        .button1 {
            box-shadow: 0 8px 16px 0 rgba(247, 184, 12, 0.2), 0 6px 20px 0 rgba(247, 170, 5, 0.19);
          }

        ion-title {
            position: absolute;
            top: 0;
            left: 0;
            padding: -1px 86px 1px;
            width: 100%;
            height: 100%;
            text-align: center;
         }
         .toolbar-background {
            background-color: #FEA204;
            
          }
          .toolbar-title-md {
            padding: 0 12px;
            font-size: 2rem;
            font-weight: 800;
            color: #fff;
        }
          .item-md{
              padding-left: 0px !important;
          }

          .item-md ion-icon[item-left] + .item-inner, .item-md ion-icon[item-left] + .item-input, .item-md ion-icon[item-start] + .item-inner, .item-md ion-icon[item-start] + .item-input {
            margin-left: 0px !important;
        }
        .item-md ion-icon[item-left], .item-md ion-icon[item-right], .item-md ion-icon[item-start], .item-md ion-icon[item-end] {
            margin-left: 10px;
            margin-top: 11px;
            margin-bottom: 10px;
        }
        ion-label[fixed] {
            /* -webkit-box-flex: 0; */
            -webkit-flex: -1 0 100px;
            -ms-flex: 0 0 100px;
             flex: -1 0 100px; 
            /* width: 100px; */
            /* min-width: 100px; */
            /* max-width: 200px; */
        }
}

