<!--
  Generated template for the AddDesignationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>ADD DESIGNATION</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label floating style="color:#FEA204">Designation</ion-label>
    <ion-input [(ngModel)]="designation" type="text"></ion-input>
  </ion-item>
  <!-- <ion-item>
    <ion-label floating style="color:#FEA204">Responsibility</ion-label>
    <ion-input [(ngModel)]="responsibilty" type="text"></ion-input>
  </ion-item> -->
  <div style="margin-top:5%; text-align: center; "> 
    <button ion-button outline round style="border-color:#FEA204; color:#FEA204" (click)="addesignation()">
        Add Designation
    </button>
</div>
</ion-content>
